*{
margin: 0;
padding:0;
box-sizing: border-box;
}

body{
font-family: verdana;
text-align: center;
padding: 10px 0;
}
h2{
font-size: 40px;
padding: 10px 0;
color: purple;
}

#traccia-es{
font-size: 25px;
padding: 10px 0;
}
#giocata1 {
font-size: 30px;
color:green;
padding: 10px 0;
}

#giocata2{
font-size: 30px;
color: red;
}
